<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img src="https://osoltech.com/hs-fs/hubfs/Medium%20size%20with%20Tag%20line.png?width=140&amp;height=69&amp;name=Medium%20size%20with%20Tag%20line.png"
            loading="eager" alt="Medium size with Tag line" height="45" width="90"
            srcset="https://osoltech.com/hs-fs/hubfs/Medium%20size%20with%20Tag%20line.png?width=70&amp;height=35&amp;name=Medium%20size%20with%20Tag%20line.png 70w, https://osoltech.com/hs-fs/hubfs/Medium%20size%20with%20Tag%20line.png?width=140&amp;height=69&amp;name=Medium%20size%20with%20Tag%20line.png 140w, https://osoltech.com/hs-fs/hubfs/Medium%20size%20with%20Tag%20line.png?width=210&amp;height=104&amp;name=Medium%20size%20with%20Tag%20line.png 210w, https://osoltech.com/hs-fs/hubfs/Medium%20size%20with%20Tag%20line.png?width=280&amp;height=138&amp;name=Medium%20size%20with%20Tag%20line.png 280w, https://osoltech.com/hs-fs/hubfs/Medium%20size%20with%20Tag%20line.png?width=350&amp;height=173&amp;name=Medium%20size%20with%20Tag%20line.png 350w, https://osoltech.com/hs-fs/hubfs/Medium%20size%20with%20Tag%20line.png?width=420&amp;height=207&amp;name=Medium%20size%20with%20Tag%20line.png 420w"
            sizes="(max-width: 140px) 100vw, 140px" alt="Logo" width="30" height="30"
            class="d-inline-block align-text-top">
        <a class="navbar-brand" href="{{ url_for('main.home_page')}}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left side (navigation links) -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main.home_page')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('blog.posts')}}">Explore</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('blog.add_post')}}">Add Blog</a>
                </li>
                {% endif %}
            </ul>

            <!-- Right side (profile/login and search) -->
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- Profile Picture -->
                        {% if current_user.profile_pic %}
                        <img src="{{ url_for('static', filename='images/' + current_user.profile_pic) }}" width="30"
                            height="30" class="rounded-circle me-2">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/default_profile_pic.png') }}" width="30"
                            height="30" class="rounded-circle me-2">
                        {% endif %}
                        Profile
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('author.dashboard')}}">View Profile</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('author.update', id=current_user.id)}}">Update
                                Profile</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('author.delete', id=current_user.id)}}">Delete
                                Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ url_for('author.logout')}}">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('author.login')}}">Login</a>
                </li>
                {% endif %}
            </ul>

            <!-- Search bar aligned to the right -->
            <form method='POST' action="{{url_for('blog.search')}}" class="d-flex ms-3" role="search">
                {{ form.hidden_tag() }}
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>