{% extends 'base.html' %}
{% block content %}
<!-- Toast container with fixed positioning -->
<div class="toast-container position-fixed top-1 end-0 p-3">
  {% for message in get_flashed_messages(with_categories=true) %}
  <div class="toast align-items-center text-white {{ 'bg-success' if message[0] == 'success' else '' }}
               {{ 'bg-danger' if message[0] == 'error' else '' }}
               {{ 'bg-warning' if message[0] == 'warning' else '' }}
               {{ 'bg-info' if message[0] == 'info' else '' }}
               border-0 fade" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true"
      data-bs-delay="5000">
      <div class="d-flex">
          <div class="toast-body">
              {{ message[1] }}
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
              aria-label="Close"></button>
      </div>
  </div>
  {% endfor %}
</div>

<div class="container my-4">
  <h3>User Profile</h3>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <!-- User Information on the Left -->
        <div class="col-8">
          <h5 class="card-title">{{current_user.name}}</h5>
          <p class="card-text">{{current_user.bio}}</p>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">Username: {{current_user.username}}</li>
            <li class="list-group-item">Email: {{current_user.email}}</li>
            <li class="list-group-item">Date Joined: {{current_user.date_added.date()}}</li>
          </ul>
        
        </div>

        <!-- Profile Picture on the Right -->
         
        <div class="col-4 text-end">
          {% if current_user.profile_pic %}
          <img src="{{url_for('static', filename='images/'+current_user.profile_pic)}}" width="210" class="img-fluid rounded">
          <br>
          {% else %}
          <img src="{{url_for('static', filename='images/default_profile_pic.png')}}" width="210" class="img-fluid rounded">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

  <br><br><br><br><br><br>


<script>
  // Initialize and show the toasts with smooth animation and auto-dismiss after 5 seconds
  var toastElList = [].slice.call(document.querySelectorAll('.toast'));
    var toastList = toastElList.map(function (toastEl) {
        var toast = new bootstrap.Toast(toastEl, { autohide: true, delay: 5000 });
        toast.show();  // Show the toast with fade-in effect
        return toast;
    });
</script>
{% endblock %}